<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.type.pc" android:required="false" />
    <application android:label="Conway’s Game of Life Lab" android:theme="@style/LifeTheme" android:icon="@mipmap/app_icon" android:allowBackup="false" android:resizeableActivity="true">
        <activity android:name=".MainActivity" android:exported="true" android:enableOnBackInvokedCallback="false" android:resizeableActivity="true" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|density|uiMode">
            <meta-data android:name="WindowManagerPreference:FreeformWindowSize" android:value="maximize" />
            <meta-data android:name="WindowManagerPreference:FreeformWindowOrientation" android:value="landscape" />
            <layout android:defaultWidth="1100dp" android:defaultHeight="740dp" android:minWidth="500dp" android:minHeight="450dp" android:gravity="center"/>
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
